.holyfat__aboutus {
  position: relative;
}

.holyfat__aboutus-overlay {
  position: absolute;
  inset: 0;
}

.holyfat__aboutus-overlay img {
  width: 800px;
  height: 800px;
  z-index: 0;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
}

.holyfat__aboutus-content {
  width: 100%;
  z-index: 2;
}

.holyfat__aboutus-content_about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.holyfat__aboutus-content_about h1 {
  color: var(--color-golden);
}

.holyfat__aboutus-content_about p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.holyfat__aboutus-content-knife {
  margin: 2rem 4rem;
}

.holyfat__aboutus-content-knife img {
  height: 910px;
}

.holyfat__aboutus-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.holyfat__aboutus-content_history h1 {
  color: var(--color-golden);
}

.holyfat__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);
}

@media screen and (max-width: 2000px) {
  .holyfat__aboutus-content-knife img {
    height: 1000px;
  }

  .holyfat__aboutus-content_history p,
  .holyfat__aboutus-content_about p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .holyfat__aboutus-content {
    flex-direction: column;
  }
}

@media screen and (min-width: 650px) {
  .holyfat__aboutus-overlay img {
    width: 60%;
    height: 320px;
  }
}
